@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<LubrilogixTest.Models.Inventario>

@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<h1>Inventario</h1>

<br />
<br />

<table id="filterTable" class="display">
    <thead>
        <tr>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="fechaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="fechaFilter" placeholder="Filtro por fecha" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="sucursalFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="sucursalFilter" placeholder="Filtro por sucursal" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="productoFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="productoFilter" placeholder="Filtro por producto" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="estadoFilterIcon"></i>
                    <div class="filter-input">
                        <select id="estadoFilter" style="display:none;">
                            <option value="Aprobado">Aprobado</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="">Nulo</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />

<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table class="table table-bordered table-striped" id="inventarioTable">
            <thead>
                <tr>
                    <th>ID Orden</th>
                    <th>Fecha</th>
                    <th>ID Sucursal</th>
                    <th>ID Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>ID Tipo Operación</th>
                    <th>ID Proveedor</th>
                    <th>Total</th>
                    <th>Estado</th>
                    @if (userInSpecificGroup)
                    {
                        <th>Edit</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TnIdOrden</td>
                        <td>@item.TfFecha</td>
                        <td>@item.TnIdsucursalNavigation</td>
                        <td>@item.TnIdProductoNavigation</td>
                        <td>@item.TnCantidad</td>
                        <td>@item.TnPrecio</td>
                        <td>@item.TNDescuento</td>
                        <td>@item.TnIdtipoOperacionNavigation</td>
                        <td>@item.TnIdProveedorNavigation</td>
                        <td>@item.TnTotal</td>
                        <td>@item.TC_Estado</td>
                        @if (userInSpecificGroup)
                        {
                            <td>
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>

@section Scripts {
    <script src="~/js/inventario.js"></script>
}

<link href="~/css/filterstyle.css" rel="stylesheet" />
