@using Newtonsoft.Json
@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<LubrilogixTest.Models.spLeerInventario_Result>

<link href="~/css/inventariofilter.css" rel="stylesheet" />


@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<h1>Inventario</h1>

<br />
<br />


<table id="inventarioFilterTable" class="display">
    <thead>
        <tr>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="idOrdenFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="idOrdenFilter" placeholder="Filtro por ID Orden" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="fechaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="fechaFilter" placeholder="Filtro por fecha" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="sucursalFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="sucursalFilter" placeholder="Filtro por sucursal" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="productoFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="productoFilter" placeholder="Filtro por id producto" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="nombreProductoFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="nombreProductoFilter" placeholder="Filtro por nombre producto" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="tipoOperacionFilterIcon"></i>
                    <div class="filter-input">
                        <select id="tipoOperacionFilter" style="display:block;">
                            <option value="">-- Seleccione Tipo Operación --</option>
                            <option value="compra">Compra</option>
                            <option value="venta">Venta</option>
                            <option value="ajuste">Ajuste</option>
                            <option value="devolucion">Devolución</option>
                        </select>
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="proveedorFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="proveedorFilter" placeholder="Filtro por proveedor" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="inventario-filter-container">
                    <i class="fas fa-filter" id="estadoFilterIcon"></i>
                    <div class="filter-input">
                        <select id="estadoFilter" style="display:block;">
                            <option value="">-- Seleccione Estado --</option>
                            <option value="Aprobado">Aprobado</option>
                            <option value="Pendiente">Pendiente</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />

<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table class="table table-bordered table-striped" id="inventarioTable">
            <thead>
                <tr>
         @* 0 *@    <th>ID Orden</th>
         @* 1 *@    <th>Fecha</th>
         @* 2 *@    <th>ID Sucursal</th>
         @* 3 *@    <th>Nombre Sucursal</th>
         @* 4 *@    <th>ID Producto</th>
         @* 5 *@    <th>Nombre Producto</th>
         @* 6 *@    <th>Precio</th>
         @* 7 *@    <th>Descuento</th>
         @* 8 *@    <th>ID Tipo Operación</th>
         @* 9 *@    <th>Nombre Tipo Operación</th>
         @* 10*@    <th>ID Proveedor</th>
         @* 11*@    <th>Nombre Proveedor</th>
         @* 12*@    <th>Total</th>
         @* 13*@    <th>Estado</th>
         @* 14*@    <th>Cantidad</th>
                    @if (userInSpecificGroup)
                    {
                        <th>Edit</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TN_IdOrden</td>
                        <td>@item.TF_Fecha.ToString("yyyy-MM-dd")</td>
                        <td>@item.TN_IDSucursal</td>
                        <td>@item.SucursalNombre</td>
                        <td>@item.TN_IdProducto</td>
                        <td>@item.ProductoNombre</td>
                        <td>@item.TN_Precio</td>
                        <td>@item.TN_Descuento</td>
                        <td>@item.TN_IDTipoOperacion</td>
                        <td>@item.TipoOperacionNombre</td>
                        <td>@item.TN_IdProveedor</td>
                        <td>@item.ProveedorNombre</td>
                        <td>@item.TN_Total</td>
                        <td>@item.TC_Estado</td>
                        <td>@item.TN_Cantidad</td>
                        @if (userInSpecificGroup)
                        {
                            <td>
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>

@section Scripts {
    <script src="~/js/inventario.js"></script>
}


<link href="~/css/filterstyle.css" rel="stylesheet" />
