@using Newtonsoft.Json


@model List<LubrilogixTest.Models.Producto>
<script src="~/js/productos.js"></script>
@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<h1>Productos</h1>

<br />
<br />

<table id="filterTable" class="display">
    <thead>
        <tr>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="nombreFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="nombreFilter" placeholder="Filtro por nombre" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="categoriaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="categoriaFilter" placeholder="Filtro por categoria" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="subCategoriaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="subCategoriaFilter" placeholder="Filtro por subcategoria" style="display:block;" />
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />

<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table class="table table-bordered table-striped" id="productosTable">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Subcategoría</th>
                    <th class="editColumn" style="display:none;">Editar</th> <!-- Placeholder column -->
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>
                        <td>@producto.TnIdProducto</td>
                        <td>@producto.TcNombre</td>
                        <td>@producto.TcCategoria</td>
                        <td>@producto.TcSubcategoria</td>
                        <td class="editColumn" style="display:none;">
                            @if (userInSpecificGroup)
                            {
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>

<script>
    // Pass the Razor variable to a JavaScript variable
    var userInSpecificGroup = @Html.Raw(JsonConvert.SerializeObject(userInSpecificGroup));
</script>

@section Scripts {
    <script src="~/js/productos.js"></script>
    <script src="~/js/productosfilter.js"></script>

}
