@using Newtonsoft.Json


@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<LubrilogixTest.Models.Proveedore>

@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<br />

<h1>Proveedores</h1>
<br />

@if (userInSpecificGroup)
{
    <!-- El botón para abrir el modal -->
    <button id="openModalProveedorBtn" class="btn" type="button">Agregar proveedor</button>
}
<br />

<table id="filterTable" class="display">
    <thead>
        <tr>
            <th>
               
                <div class="filter-container">
                    <i class="fas fa-filter" id="nombreFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="nombreFilter" placeholder="Filtro por nombre" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="provinciaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="provinciaFilter" placeholder="Filtro por provincia" style="display:block;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="estadoFilterIcon"></i>
                    <div class="filter-input">
                        <select id="estadoFilter" style="display:block;">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="">Nulo</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />

<br />

<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table class="table table-bordered table-striped" id="proveedoresTable">
            <thead>
                <tr>
                    <th>ID Proveedor</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Provincia</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th class="editColumn" style="display:none;">Editar</th> <!-- Placeholder column -->
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedore in Model)
                {
                    <tr>
                        <td>@proveedore.TnIdProveedor</td>
                        <td>@proveedore.TcNombre</td>
                        <td>@proveedore.TcDireccion</td>
                        <td>@proveedore.TcProvincia</td>
                        <td>@proveedore.TcEmail</td>
                        <td>@proveedore.TcEstado</td>
                        <td class="editColumn" style="display:none;">
                            @if (userInSpecificGroup)
                            {
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>

<!-- El cuerpo del modal -->
<div id="addProveedorModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Agregar proveedor</h2> <!-- El título del modal -->
        </div>
        <div class="modal-body">
            <!-- El formulario que va dentro del modal -->
            <form id="addProveedorForm">
                <div class="form-group">
                    <label for="proveedorNombre">Nombre del Proveedor</label>
                    <input type="text" id="proveedorNombre" placeholder="Ingrese el nombre del proveedor" required>
                </div>
                <div class="form-group">
                    <label for="proveedorProvincia">Provincia del proveedor</label>
                    <input type="text" id="proveedorProvincia" placeholder="Ingrese la provincia del proveedor" required>
                </div>
                <div class="form-group">
                    <label for="proveedorDireccion">Dirección</label>
                    <input type="text" id="proveedorDireccion" placeholder="Ingrese la dirección del proveedor" required>
                </div>
                <div class="form-group">
                    <label for="proveedorEmail">Email</label>
                    <input type="email" id="proveedorEmail" placeholder="Ingrese el email del proveedor" required>
                </div>
                <div class="form-group">
                    <label for="proveedorEstado">Estado</label>
                    <select id="proveedorEstado" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" id="closeModalBtn" type="button">Cerrar</button> <!-- El botón para cerrar -->
            <button class="btn" id="saveProveedorButton" type="button">Agregar proveedor</button> <!-- El botón para agregar el proveedor -->
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/proveedores.js"></script>
    <script src="~/js/proveedoresfilters.js"></script>


    <link href="~/css/modalstyles.css" rel="stylesheet" />
    <script src="~/js/modalproveedor.js"></script>
    <script>
        // Pass the Razor variable to a JavaScript variable
        var userInSpecificGroup = @Html.Raw(JsonConvert.SerializeObject(userInSpecificGroup));
    </script>
}
<link href="~/css/filterstyle.css" rel="stylesheet" />
