@{
    ViewData["Title"] = "Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/filterstyle.css" rel="stylesheet" />

@model List<LubrilogixTest.Models.Sucursale>

@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<h1>Sucursales</h1>

<br />
<br />

<table id="filterTable" class="display">
    <thead>
        <tr>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="nombreFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="nombreFilter" placeholder="Filtro por nombre" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="provinciaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="provinciaFilter" placeholder="Filtro por provincia" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="estadoFilterIcon"></i>
                    <div class="filter-input">
                        <select id="estadoFilter" style="display:none;">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="">Nulo</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />


<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table class="table table-bordered table-striped" id="sucursalesTable">
            <thead>
                <tr>
                    <th>ID Sucursal</th>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Comentarios</th>
                    @if (userInSpecificGroup)
                    {
                        <th>Acciones</th> <!-- Ensure this matches the header above -->
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedore in Model)
                {
                    <tr>
                        <td>@proveedore.TnIdSucursal</td>
                        <td>@proveedore.TcNombre</td>
                        <td>@proveedore.TcProvincia</td>
                        <td>@proveedore.TcDireccion</td>
                        <td>@proveedore.TcTelefono</td>
                        <td>@proveedore.TcCorreo</td>
                        <td>@proveedore.TcEstado</td>
                        <td>@proveedore.TcComentarios</td>
                        @if (userInSpecificGroup)
                        {
                            <td>
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>


@section Scripts {
    <script src="~/js/sucursales.js"></script>

}
