@using Newtonsoft.Json

@{
    ViewData["Title"] = "Sucursales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/filterstyle.css" rel="stylesheet" />

@model List<LubrilogixTest.Models.Sucursale>

@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<h1>Sucursales</h1>

<br />
@if (userInSpecificGroup)
{
    <!-- Botón para abrir el modal -->
    <button id="openSurcusalBtn" class="btn">Agregar sucursal</button>

}
<br />

<table id="filterTable" class="display">
    <thead>
        <tr>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="nombreFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="nombreFilter" placeholder="Filtro por nombre" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="provinciaFilterIcon"></i>
                    <div class="filter-input">
                        <input type="text" id="provinciaFilter" placeholder="Filtro por provincia" style="display:none;" />
                    </div>
                </div>
            </th>
            <th>
                <div class="filter-container">
                    <i class="fas fa-filter" id="estadoFilterIcon"></i>
                    <div class="filter-input">
                        <select id="estadoFilter" style="display:none;">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="">Nulo</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>

<br />


<div>
    @if (groupClaims != null && groupClaims.Any())
    {


        <table class="table table-bordered table-striped" id="sucursalesTable">
            <thead>
                <tr>
                    <th>ID Sucursal</th>
                    <th>Nombre</th>
                    <th>Provincia</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Estado</th>
                    <th>Comentarios</th>
                    <th class="editColumn" style="display:none;">Editar</th> <!-- Placeholder column -->
                    @*  @if (userInSpecificGroup)
                {
                <th>Acciones</th> <!-- Ensure this matches the header above -->
                } *@
                </tr>
            </thead>
            <tbody>
                @foreach (var sucursale in Model)
                {
                    <tr>
                        <td>@sucursale.TnIdSucursal</td>
                        <td>@sucursale.TcNombre</td>
                        <td>@sucursale.TcProvincia</td>
                        <td>@sucursale.TcDireccion</td>
                        <td>@sucursale.TcTelefono</td>
                        <td>@sucursale.TcCorreo</td>
                        <td>@sucursale.TcEstado</td>
                        <td>@sucursale.TcComentarios</td>
                        <td class="editColumn" style="display:none;">
                            @if (userInSpecificGroup)
                            {
                                <i class="fas fa-edit editIcon"></i>
                                <i class="fas fa-save saveIcon" style="display:none;"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>


<div id="addSucursalModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Agregar sucursal</h2>@* El titulo del modal *@
        </div>
        <div class="modal-body">
            <form id="addSucursalForm">
                @* El formulario que va dentro el modal *@
                <div class="form-group">
                    <label for="sucursalNombre">Nombre de la Sucursal</label>
                    <input type="text" id="sucursalNombre" placeholder="Ingrese el nombre de la sucursal" required>
                </div>
                <div class="form-group">
                    <label for="sucursalProvincia">Provincia</label>
                    <input type="text" id="sucursalProvincia" placeholder="Ingrese el producto que suministra" required>
                </div>
                <div class="form-group">
                    <label for="sucursalDireccion">Dirección</label>
                    <input type="text" id="sucursalDireccion" placeholder="Ingrese la dirección de la sucursal" required>
                </div>
                <div class="form-group">
                    <label for="sucursalTelefono">Teléfono</label>
                    <input type="text" id="sucursalTelefono" placeholder="Ingrese el teléfono de la sucursal" required>
                </div>
                <div class="form-group">
                    <label for="sucursalCorreo">Correo</label>
                    <input type="email" id="sucursalCorreo" placeholder="Ingrese el correo de la sucursal" required>
                </div>
                <div class="form-group">
                    <label for="sucursalEstado">Estado</label>
                    <input type="email" id="sucursalEstado" placeholder="Ingrese el estado de la sucursal" required>
                </div>
                <div class="form-group">
                    <label for="sucursalComentario">Comentario</label>
                    <input type="email" id="sucursalComentario" placeholder="Ingrese el comentario de la sucursal" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" id="closeModalBtn">Cerrar</button>@* El boton para cerrar *@
            <button class="btn" id="saveSucursalButton">Agregar sucursal</button>@* El boton para agregar el producto *@
        </div>
    </div>
</div>






<script>
    // Pass the Razor variable to a JavaScript variable
    var userInSpecificGroup = @Html.Raw(JsonConvert.SerializeObject(userInSpecificGroup));
</script>


@section Scripts {
    <script src="~/js/sucursales.js"></script>
    <script src="~/js/modalsurcusal.js"></script>
    <link href="~/css/modalstyles.css" rel="stylesheet" />

}
